.bottom-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #6abeca 0%, rgba(57, 100, 106, 0.57) 100%),
     url(/static/media/KH3ColorSky.00b9faba.jpg) center no-repeat;
    background-size: cover;
}

